<!doctype html>

<html>
<head>
 
  <title>BudgetNauts</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="device-width, initial-scale=1.0">

	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href = "css/budget.css" rel="stylesheet">

	<link href="css/style.css" rel="stylesheet">
	<link href="css/menuButton.css" rel="stylesheet">
	
</head>
<body>
  <div id="calendar">
    <div id="calendar_header"><i class="icon-chevron-left"></i>          <h1></h1><i class="icon-chevron-right"></i>         </div>
    <div id="calendar_weekdays"></div>
    <div id="calendar_content"></div>
  </div>
	
	<script src="./js/jquery-1.11.0.js"></script>
	<script src="./js/bootstrap.js"></script>

	<script src="./js/menuButton.js"></script>

	<script src="./routes/home.js"></script> 
	<script src="./routes/listOfSpending.js"></script> 
	<script src="./routes/budget.js"></script>

	<script src="./routes/listOfSpending.js"></script>

</body>
</html>
