<!doctype html>

<html>
<head>
	<title>BudgetNauts</title>
	<meta charset="utf-8">
	<meta name = "viewport" content="device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/menuButton.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>

</head>

<body>

	<!--nav bar-->
	 <div class = "navbar-nav">
	  <ul>
	  	<li class = "nav-link"><a class="nav-link" href="/homeScreen">Home</a><div class = "underline"></div></li>
	    <li class = "nav-link active-link"><a href="/budget">Budget</a><div class = "underline"></div></li>
	    <li class = "nav-link"><a href="/listOfSpending">List of Spending</a><div class = "underline"></div></li>
	    <li class = "nav-link"><a href="#">FAQ</a><div class = "underline"></div></li>
	  </ul>
	</div>

<div class="container">

	<h1>Welcome to BudgetNauts!</h1>
	<br>

	<h1>Amount Left</h1>
    <div class="border">
    	<h1>$137.54<h1>
    </div>
    <br>

    <p>
	<a href ="images/Frame 26.png">
      <img src="images/Frame 26.png" alt="Pie Chart">
    </a>
    </p>
</div>
	<script src="/routes/homeScreen.js"></script>
	<script src="/routes/listOfSpending.js"></script>
	<script src="/routes/budget.js"></script>

</body>
</html>
