<!doctype html>

<html>
<head>
	<title>BudgetNauts</title>
	<meta charset="utf-8">
	<meta name = "viewport" content="device-width, initial-scale=1.0">

<link href="css/bootstrap.css" rel="stylesheet">

	<link href="css/menuButton.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">


</head>

<body >

	<nav class="navbar navbar-expand-sm bg-info navbar-dark">
		<!-- Brand/logo -->
		<a class="navbar-brand" href="/homeScreen">
			<img src="/images/homeIcon.png" alt="logo" style="width:40px;">
		</a>

		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/budget">Budget</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="listOfSpending">List of Spending</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">FAQ</a>
			</li>
		</ul>
	</nav>

<script src="./js/jquery-1.11.0.js"></script>
	<script src="./js/bootstrap.js"></script>

	<script src="./js/menuButton.js"></script>

	<script src="./routes/home.js"></script>
	<script src="./routes/listOfSpending.js"></script>
	<script src="./routes/budget.js"></script>

	<script src="./routes/listOfSpending.js"></script>

</body>
</html>
