<!doctype html>

<html>
 <head>
    <title>List Of Spending</title>


  <meta name = "viewport" content="device-width, initial-scale=1.0">

  <link href="css/bootstrap.css" rel="stylesheet">

  <link href="css/menuButton.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


 </head>

<body>

<div>
   <!--nav bar-->
   <div class = "navbar-nav">
    <ul>
      <li class = "nav-link"><a class="nav-link" href="/homeScreen">Home</a><div class = "underline"></div></li>
      <li class = "nav-link"><a href="/budget">Budget</a><div class = "underline"></div></li>
      <li class = "nav-link active-link"><a href="/listOfSpending">List of Spending</a><div class = "underline"></div></li>
      <li class = "nav-link"><a href="#">FAQ</a><div class = "underline"></div></li>
    </ul>
  </div>

<div style = "float:right;" class = "">
  <a href="#" id = "button" class = "button">Add Expense</a>
</div>
</div>

<div class="container" id = "table">
    <table class='table-striped ' id = "table1">
      <thead>
 
          <th>Date</th>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>

      </thead>

      <tbody>
      	{{#each purchase}}
      	<div>
        	<tr class = "purchases">
          	<td data-label = "Date"><img onclick="removeExpense()" class = "remove" src="images/x.png"></img>{{date}}</td>
          	<td data-label = "Name">{{name}}</td>
          	<td data-label = "Category">{{category}}</td>
          	<td data-label = "Price">{{price}}</td>
        	</tr>
    	</div>
        {{/each}}

      </tbody>
    </table>
</div>

<div class = "bg-modal">
  <div class = "modal-content">
    <div class = "close">+</div>
    <form method = "get" action = "/add" style="text-align: center">
      <h1>Add Expense</h1>
      <input type = "text" placeholder="Date" name="date">
      <input type = "text" placeholder="Name" name="name">
      <input type = "text" placeholder="Category" name="category">
      <input type = "text" placeholder="Price" name="price">
      <input type ="submit" id = "add" class = "button"></a>
    </form>
  </div>
</div>

<script src="./js/jquery-1.11.0.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/menuButton.js"></script>
<script src="./js/index.js"></script>

</body>
</html>
