table, td{
   border: 2px solid black;
   padding-top: 2.5%;
 }

th{
  padding-left: 90px;
}

 table#table1{
   width: 80%;
   margin-left: 10%;
   margin-right: 15%;
   margin-top: 20px;
   background-color: #f1f1f1
  
 }

 #remove{
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
 }

.container {
text-align: center;
margin-top: 0px;
position: relative;
}

body {
  background-color: #DDA9A4

}

a, h1{
   color: #26545C
}

.header .dropdown image {
 position: relative;

}

/*
.header h1 {
  position: relative;
  text-align: center;
}
*/

.border {
  box-sizing: border-box;
  width: 200px;
  height: 68px;
  padding: 5px;
  border: 5px solid black;
  left: 50%;
  margin: auto;

}

.submit{
  padding-left: 50%;
  padding-top: 4%;
}

.bg-modal{
  width: 100%;
  height: 100%;
  background-color: rbga(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  position: relative;

}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #26545C;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  display: inline-block;
  &:hover {
    background-color: white;
    color: #26545C;
    border: 2px #26545C;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;

}

.dropdown{
margin-right: 40%;
}

input {
  width: 50%;
  display: block;
  margin: 10px auto;

}

.home{
  text-align: center;

}


#name{
  padding-left: 25%;
}

#name2{
  padding-left: 28%;
}

#expenses{
  padding-right: 35%;
}
#setting{
  padding-right:45%;
}
#spendingHome{
  padding-right: 40%
}

#plusSignMargin{
  padding-left: 35%;
}
